<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzzz.mapper.EmployeeMapper">
    <select id="queryList" resultType="Employee">
--         正常编写sql语句，不要使用;结尾。因为分页插件会直接在sql语句后面加limit x,y;
        select * from t_emp where emp_salary >100
    </select>
</mapper>